@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */

:root {
  --primary-color: #ffffff;
  --secondary-color: #1DA1F2;
  --accent-color: #F6F8FA;
  --background-color: #ecf0f1;
  --secondary-text-color: #697174;
}

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-color);
}

.main-layout-wrapper {
  margin: 0 15rem;
  display: grid;
  grid-template-columns: 250px 1fr 430px;

}
/*COMMON CLASSES*/
.twitter-blue {
  color: var(--secondary-color);
}
.widget {
  background-color: var(--accent-color);
  padding: 15px 0;
  margin: 10px 0 10px 50px;
  border-radius: 15px;
  
  
}

.widget-header {
  padding-bottom: 10px;
  padding-left: 10px;
}

.widget-group {
display: flex;
flex-direction: column;
}

.people-suggest-user-card{
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 10px 10px;
  column-gap: 10px;
}

.people-suggest-user-info {
  text-align: left;
}

.people-suggest-user-follow_button {
color: var(--secondary-color);
background-color: transparent;
border: 1px solid var(--secondary-color);
padding: 3px 25px;
border-radius: 20px;
}

.subtitle {
  color: var(--secondary-text-color);
  font-size: 13px;
}

.news-suggets-show-button {
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

.news-suggest-element-card {
  margin: 10px 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: start;
  grid-template-areas: 
    "header image"
    "body image";
}

.news-suggest-element-card .header {
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 10px;
}

.news-suggest-element-card span {
  color: var(--secondary-text-color);
  font-size: 13px;
}

.news-suggest-element-card h4 {
  font-size: 16px;
  font-weight: bold;
}

.news-suggest-element-card p {
  grid-area: body;
  font-size: 14px;
  margin-right: 10px;
}

.news-suggest-element-image {
  grid-area: image;
  max-width: 100%; 
  width: 70px;
  height: 70px;
  border-radius: 15px;
  align-self: center;
}

.navigation-icon {
  height: 20px;
  width: 20px;
}

.navigation {
  font-size: 20px;
  margin-top: 2rem;
  margin-right: 50px;
}

.navigation-tweet {
  margin-top: 25px;
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  color: var(--primary-color);
  font-size: inherit;
  border-radius: 20px;
  width: 100%;
}

.homepage-group {
  background-color: var(--accent-color);
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

.post-input-wrapper {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 10px;
}

.post-input-wrapper-header{
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.post-input-input{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-input-avatar {
  margin: 10px;
}

.post-input-input input {
  font-size: 18px;
  border: none;
}

.post-input-input input:focus,
input:hover,
input:active {
    outline: none;
    box-shadow: none;
} 

.post-input-wrapper-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 15px 10px 0px;
}

.post-input-wrapper-buttons-icons > * {
  margin-left: 10px;
}

.post-input-wrapper-buttons-tweet {
  background-color: var(--secondary-color);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  color: var(--primary-color);
  font-size: inherit;
  border-radius: 20px;
  margin-bottom: 10px;
}

.welcoming-card-wrapper {
  background-color: #ffffff;
  text-align: center;
  padding: 25px;
  border-top: 1px solid #E0E0E0;
}

.welcoming-card-wrapper h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.welcoming-card-wrapper p {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.welcoming-card-wrapper button {
  background-color: var(--secondary-color);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  color: var(--primary-color);
  font-size: inherit;
  border-radius: 20px;
}